<%= form_tag("/query/insert", method: "post") do %>
	<div>SQL Schema</div>
	<%= text_area_tag(:schema, "", size: "30x6") %>
	<table>
		<tr>
			<th>Query Type</th>
			<th>Frequency (%)</th>
		</tr>
		<tr>
			<td>SELECT</td>
			<td><%= text_field_tag(:select) %></td>
		</tr>
		<tr>
			<td>UPDATE</td>
			<td><%= text_field_tag(:update) %></td>
		</tr>
		<tr>
			<td>INSERT</td>
			<td><%= text_field_tag(:insert) %></td>
		</tr>
		<tr>
			<td>DELETE</td>
			<td><%= text_field_tag(:delete) %></td>
		</tr>
	</table>
	<div>
		<%= submit_tag "Submit" %>
	</div>
<% end %>