<h2>Column Distribution View</h2>
<%= form_tag("/query/show", method: "post") do %>
	<%= hidden_field_tag(:schema_id, @schema.id) %>
	<% @tables.each do |table| %>
		<div>
			Table: <%= table.name %> <%= number_field_tag("#{table.id}-cardinality", nil, placeholder: "Number of Records") %>
			<table>
				<tr>
					<th>Type</th>
					<th>Length</th>
					<th>Field</th>
					<th>Distribution</th>
					<th>Number of Distinct Values</th>
					<th>Minimum Value</th>
					<th>Maximum Value</th>
				</tr>
				<% table.fields.each do |f| %>
					<tr>
						<td><%= f.category %></td>
						<td><%= f.length %></td>
						<td><%= f.name %></td>
						<td><%= select_tag "#{f.id}-distribution", "<option>uniform</option><option>delta</option>".html_safe %></td>
						<td><%= number_field_tag("#{f.id}-distinct") %></td>
						<% if f.category == "Integer" %>
							<td><%= number_field_tag("#{f.id}-min") %></td>
							<td><%= number_field_tag("#{f.id}-max") %></td>
						<% else %>
							<td>N/A</td>
							<td>N/A</td>
						<% end %>
					</tr>
				<% end %>
			</table>
		</div>
		<br> 
	<% end %>
	<div>
		<%= submit_tag "Submit" %>
	</div>
<% end %>